*,
::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  /* background-color: red; */
  width: Min(95%, 1200px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.box {
  padding: 1rem;
  border-radius: 20px;
  background-color: blue;
  color: #fff;
}
/*# sourceMappingURL=estilos.css.map */
